
body{
  font-size: 16px;
}

.container{
  width: 100%;
}
.techfont{
  /* font-family: 'Russo One', sans-serif; */
  font-size: 1.0em;
  margin-bottom: 10px;
  padding-left: 10vw;
  /* #FFD700, #f7ba5b */
}
.techfont1{
  font-family: 'Russo One', sans-serif;
  font-size: 1.2vw;
  margin-bottom: 10px;
}
.midnav{
  /* padding-left: 5vw; */
}
.rightnav{
  font-size: 0.9vw;
}
.navtex{
  color: #d6a400e1 !important;
  /* #FFD700, #f7ba5b */
}


/* post contents / post forms */
.draftdate{
  font-size: 0.8em;
  color: #d6a400e1 !important;
}
.postdate{
  text-align: center;
}

.posttitle{
  font-family: 'Russo One', sans-serif;
  font-size: 3em;
  text-align: center;
}
.postborder{
  border: 1px solid rgb(204, 157, 2);
}
.postcontent{
  font-family: 'Montserrat';
  font-size: 1em;
  width: 45vw;
  border: 1px solid rgb(204, 157, 2);
  /* background-color: antiquewhite; */
  /* word-wrap: break-word; */
}
.postcontent-done{
  font-family: sans-serif;
  font-size: 0.9em;
  width: 49vw;  
  /* background-color: antiquewhite; */
  /* word-wrap: break-word; */
}
.postcreate{
  width: 66% !important;
}
.commentcreate{
  width: 100% !important;
  margin-left: 0% !important;
}
.postcr-widt{
  width: 100% !important;
}
.postcrform{
  width: 100% !important;
}

.postlist-con{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  height: 20vw;
}
.postlist-titl{
  height: 3vw;
  font-weight: bold;
  font-size: 0.9em;
}
.posttitl{
  color: #000000;
}
.commentcolor{
  color: #cc9d02e1 !important;
}
.postlist-bs{
  border: 1px solid rgb(204, 157, 2);
  border-radius: 10px;
  padding-left: 15px;
  margin-right: 15px;
  /* background-color: #617d98; */
  background-image: linear-gradient(to right, #617d98, #c5c9ce);
  box-shadow: 10px 10px 8px #c5c5c5;
}
.postcont{
  font-size: 0.7em !important;
  height: 2.5vw;
}
.comtcont{
  font-size: 1em !important;
  width: 70%;
  margin-left: 0%;
}
.comtdate{
  font-size: 0.9em !important;
}
.deleter{
  /* height: 20px; */
  font-size: 10px;
}
.draftlist-bs{
  font-size: 0.9em !important;
  height: 80px;
}
.btn-comment{
  position: absolute;
  right: 0px;
}

.bigbrand{
  font-size: 1.5em;
}

.post-btn{
  background-color: #0fa128;
  color: rgb(255, 255, 255);
}
.postlist-p{
  font-size: 0.7em;
}

/* login /reg / logout forms */
.user_card {
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
  background: #f5f5f5fb;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.hblog {
  margin-top: 20px;
  width: 100% !important;
}
.form_container {
  margin-top: 20px;
}

#form-title{
color: rgb(8, 0, 0);
font-weight: bolder;
font-size: 1.5em; 
}
#comment-title{
color: rgb(8, 0, 0);
font-weight: bolder;
font-size: 1.1em; 
}
.login_btn {
  background: #33ccff !important;
  color: white !important;
  width: 60% !important;
  font-size: 0.7em;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #f7ba5b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

#message{
  color: rgb(241, 99, 99);
  font-weight: bold;
  font-size:0.7em ;
  padding: 10px;
  margin-top: 10px;
}
.hreg .hblog1{
  width: 100%;
}
.form-widt {
  width: 100% !important;
}
.input-widt{
  width: 70% !important;
}
.form-control{
  font-size: 0.7em;
}