<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    {# bootstrap #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {# Optional theme #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    {# custom css #}
    <link rel="stylesheet" href="{% static 'css/nsig_blog.css' %}">

    {# Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title>Document</title>
</head>
<body class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  techfont loader">
        <a href="https://nisig-website.netlify.app/" class="navbar-brand bigbrand"><img src="{% static 'logo/download.png' %}" alt="NSIG Bremen Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  midnav">
                <li class="nav-item active" ><a href="{% url 'post_list' %}" class="nav-link navtex navtex">Blog</a></li>
                <li class="nav-item"><a href="https://nisig-website.netlify.app/" class="nav-link navtex">Home</a></li>          
                <li class="nav-item"><a href="https://nisig-website.netlify.app/about" class="nav-link navtex">About</a></li>          
                <li class="nav-item"><a href="https://nisig-website.netlify.app/contact" class="nav-link navtex">Contact</a></li>          
                <li class="nav-item"><a href="https://nisig-website.netlify.app/faq-all" class="nav-link navtex">FAQ</a></li>          
            </ul>
            
            <ul class="navbar-nav ml-auto rightnav">
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link navtex" href="{% url 'post_new' %}">New Post</a>
                </li>
                <li>
                    <a class="nav-link navtex" href="{% url 'post_draft' %}">Drafts</a>
                </li>
                {% if user.is_superuser %}
                <li>
                    <a class="nav-link navtex" href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
                <li>
                    <a class="nav-link navtex" href="{% url 'nsig_blog_logout' %}">Log out</a>
                </li>
                <li>
                    <a class="nav-link navtex" >Welcome: {{user.username}}</a>
                </li>
                
                {% else %}
                {#leaves an icon for login#}
                <li class="nav-item">
                    <a class="nav-link navtex" href="{% url 'nsig_blog_login' %}"><i class="fa-solid fa-user"></i>Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <div class="content container">
        <div class="row">
            <div class="col">
              <div class="blog_posts">
                {% block bodyblk %}
                {% endblock %}

              </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
</html>