{% extends "nsig_blog/base.html" %}


{% block bodyblk %}
<h2>Drafts</h2>
<div class="postlist-con row">
    {% for post in post_draft %}
    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <div class="postlist-bs">
            <p class="draftdate mt-2"> created: {{ post.create_date|date:'d-m-Y' }}</p>
            <p class="postlist-titl mt-4"><a  class="posttitl" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>    
            <div class="postcont mb-5"> {{ post.text|truncatewords:10|safe }} </div>
        </div>
    </div>
    {% endfor %}
  
</div>
{% endblock %}